@media (max-width: 992px) {
  body {
    padding: 0 0 90px 0;
    overflow-x: hidden;
  }

  body.active {
    overflow-y: hidden;
  }

  .conteiner {
    max-width: 317px;
    margin: 0 auto;
  }

  .nav-bar {
    display: none;
  }

  .header {
    left: 100%;
  }

  .header.active {
    display: block;
    background: white;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 2;
    transition: 0.4s;
    left: 0;
  }

  .nav-bar.active {
    position: absolute;
    display: grid;
    height: 383px;
    width: 100%;
    border: none;
    left: 0;
    top: 0;
    padding-left: 26px;
    padding-top: 72px;
    font-size: var(--fontsize-title);
    border: none;
    z-index: 2;
  }

  .item {
    display: block;
    margin-top: 68px;
  }

  .item:first-child {
    margin-top: 0;
  }

  .lang {
    display: none;
  }

  .lang.active {
    position: fixed;
    display: block;
    width: 375px;
    height: 100%;
    left: 32%;
    top: 621px;
    z-index: 2;
  }

  .lang.active p {
    font-size: var(--fontsize-title);
    transform: rotate(90deg);
  }

  .lang p {
    transform: rotate(270deg);
    font-size: 16px;
    line-height: 19.81px;
  }

  .subt {
    position: relative;
    display: block;
    padding-top: 0px;
  }

  .section-one {
    padding-top: 65px;
  }

  .section-one__disc {
    margin-top: 23px;
  }

  .burger {
    display: block;
    position: fixed;
    width: 33px;
    height: 24px;
    right: 30px;
    top: 65px;
    cursor: pointer;
    flex: 0 0 auto;
    margin: 0 auto;
    z-index: 4;
  }

  .burger:before,
  .burger:after {
    content: "";
  }

  .burger span,
  .burger:after,
  .burger:before {
    height: 3.84px;
    width: 100%;
    position: absolute;
    background: black;
    margin: 0 auto;
  }

  .burger span {
    top: 8.8px;
    transition: 0.4s;
  }

  .burger:after {
    bottom: 3px;
    transition: 0.4s;
  }

  .burger:before {
    top: 1px;
    transition: 0.4s;
  }

  .burger.active span {
    opacity: 0;
    transition: 0.6s;
    background-color: var(--color-gray);
  }

  .burger.active:after {
    top: 9px;
    transform: rotate(40deg);
    transition: 0.6s;
    background-color: var(--color-gray);
  }

  .burger.active:before {
    top: 9px;
    transform: rotate(-40deg);
    transition: 0.6s;
    background-color: var(--color-gray);
  }

  .section-one__image {
    padding: 0px;
  }

  .section-one__image-pc {
    display: none;
  }

  .section-one__image-ad {
    display: block;
    max-width: 316.5px;
    height: 478px;
    margin: 36px auto 83px auto;
  }

  .section-two {
    padding: 81px 30px 76px 30px;
  }

  .section-two__disc-ad {
    display: block;
  }

  .section-two__disc {
    display: none;
  }

  .section-two__disc-ad p {
    font-family: var(--medium-family);
    text-align: center;
    line-height: 21.83px;
    margin-top: 48px;
  }

  .section-two__disc p:first-child {
    margin-top: 22px;
  }

  .section-three__cards {
    display: block;
    margin-top: 83px;
  }

  .rating {
    margin-bottom: 40px;
  }

  .rating--end {
    margin-bottom: 0px;
  }

  .portfolio__blocks {
    width: 316px;
    height: 171px;
  }

  .portfolio__blocks img {
    width: 316px;
    height: 171px;
  }

  .block__disc {
    padding-top: 33px;
    padding-bottom: 78px;
  }

  .portfolio__title {
    padding-bottom: 65px;
    padding-top: 81px;
  }

  .footer {
    padding: 82px 0 90px 0;
  }

  .social-network {
    gap: 52px;
  }
}
